<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<!--Vores database forbindelse-->
		<add name="hildur" connectionString="Data Source=hildur.ucn.dk;Initial Catalog=dmab0919_1083180;User ID=dmab0919_1083180;Password=Password1!" />
	</connectionStrings>
</configuration>